---
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

let { title, description, pubDate, updatedDate, heroImage } =
  Astro.props?.frontmatter || Astro.props;

pubDate = typeof pubDate == "string" ? new Date(pubDate) : pubDate;
updatedDate =
  typeof updatedDate == "string" ? new Date(updatedDate) : updatedDate;
---

<BaseLayout title={title} description={description}>
  <article class="md:max-w-2xl mx-auto">
    {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
    <h1 class="text-5xl font-bold my-6 font-serif">{title}</h1>
    <div class="my-4">
      Published on <FormattedDate date={pubDate} />
    </div>
    {
      updatedDate && (
        <div class="last-updated-on my-4">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <hr />
    <div class="prose my-8 m-auto md:max-w-2xl">
      <slot />
    </div>
  </article>
</BaseLayout>
